
<html>

<%= render "shared/external_navbar" %>
<body>

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>Indtoduction</h1>
      <p>Beauty Academy has been training students in the field of cosmetology since 1960. The school has earned a reputation for EXCELLENCE AND QUALITY OF EDUCATION. This is evidenced by its graduates who have achieved success in the many different aspects of the cosmetology profession, including: Salon Stylists/Hair Designers, Salon Owners, Cosmetology Instructors, Performing Platform Artists, School Management Personnel, Technicians, Sales Representatives and other key positions for major beauty product and cosmetic manufacturers.
      Beauty Academy is a REDKEN PREMIERE SCHOOL. Beauty Academy graduates are preferred by Redken 5th Avenue Salons (over 30,000) throughout the United States.
      Each program of instruction qualifies the student to take the Illinois State Board of Cosmetology Licensing Examination.</p>
    </div>
    <div class="col-sm-2 sidenav">
    </div>
  </div>
</div>

</body>
</html>