<%= render "shared/external_navbar" %>

 <body>
  <div class="jumbotron">
    <div class="container text-center">
      <img src="http://b40ad1317d45595cd0df-4d1987fef3a36cccd5478db4931039f0.r84.cf3.rackcdn.com/assets/media/2017/09/China-colour-cosmetics-2-blog-1.jpg" style="width:100%" alt="Image">
      <h1>Portfolio</h1>      
      <p>"People are beautiful in their own way"</p>
    </div>
  </div>
    
  <div class="container-fluid bg-3 text-center">    
    <h3>Hairstayle</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <h4>Casual</h4>
        <img src="http://www.longhairbeez.us/wp-content/uploads/2016/08/casual-updo-hairstyles-for-long-hair-casual-updo-hairstyles-for-long-hair-long-hairstyle-galleries.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <h4>Weddings</h4>
        <img src="https://i.weddingomania.com/2017/03/04-half-up-half-do-with-a-hair-vine-of-pearls-and-crystals.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <h4>Holidays</h4>
        <img src="http://trendzmaker.com/wp-content/uploads/2017/12/holiday-hairstyles-2017-for-girls-hairstyles-for-holidays-4.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div><br>

  <div class="container-fluid bg-3 text-center"> 
    <h3>Make UP</h3><br>   
    <div class="row">
      <div class="col-sm-4">
        <h4>Beauty</h4>
        <img src="https://s.zumzi.com/zp/0/d/0d11423f7f671b74d898f4be44d6fb1c_1_large.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <h4>Art</h4>
        <img src="http://www.3d-womentattoo.com/wp-content/uploads/2016/09/Full-Arm-fantasy-makeup-fairy-tattoo.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
      <div class="col-sm-4"> 
        <h4>Natural</h4>
        <img src="https://i.pinimg.com/736x/02/6b/68/026b683592f452494b1c4d058495fc37--fresh-makeup-hair-and-makeup.jpg" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div><br><br>

  <footer class="container-fluid text-center">
    <button type="button" class="btn btn-fb"><i class="fa fa-facebook left"></i> Facebook</button>
    <!--Twitter-->
    <button type="button" class="btn btn-tw"><i class="fa fa-twitter left"></i> Twitter</button>
    <!--Google +-->
    <button type="button" class="btn btn-gplus"><i class="fa fa-google-plus left"></i> Google +</button>
    <!--Linkedin-->
    <button type="button" class="btn btn-li"><i class="fa fa-linkedin left"></i> Linkedin</button>
    <!--Instagram-->
    <button type="button" class="btn btn-ins"><i class="fa fa-instagram left"></i> Instagram</button>
    <!--Pinterest-->
    <button type="button" class="btn btn-pin"><i class="fa fa-pinterest left"></i> Pinterest</button>
  </footer>

  </body>