
.row.content {height: 450px}


.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}


footer {
  background-color: #f2f2f2;
  padding: 25px;
}


@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}

    /* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.row.content {height: 450px}


.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}


footer {
  background-color: #f2f2f2;
  padding: 25px;
}


@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}

    /* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
