#include "dlg.h"
#include <windows.h>

IDD_DIALOG DIALOG DISCARDABLE  83, 35, 180, 100
STYLE DS_MODALFRAME | WS_POPUP
FONT 8, "MS Sans Serif"
CAPTION "Help"
BEGIN
    DEFPUSHBUTTON   "&OK", IDOK, 67, 75, 50, 14
    ICON IDI_ICON, IDC_STATIC, 80, 7, 32, 32
    CTEXT "Is in the process of creation!!!", IDC_STATIC, 7, 40, 165, 10
END

IDM_MENU MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Exit              Ctrl+W", ID_EXIT
    END
    POPUP "&Actions"
    BEGIN
        MENUITEM "&Change background color", ID_BCKG
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&Help             Ctrl+I", ID_ABOUT
    END
END

IDI_ICON ICON DISCARDABLE "icon.ico"
ID_CURSOR CURSOR DISCARDABLE "cursor.cur"
